:root{
    --light-gray:rgb(158, 158, 158);
    --light: rgb(231, 231, 231);
    --dark: rgb(63, 63, 63);
}

/* light mode */

body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:var(--light);
    color:var(--dark);
}

.container{
    position:relative;
    height:100vh;
}


footer{
    background-color:var(--dark);
    color:var(--light);
    text-align:center;
    padding:1em;
    position:absolute;
    width:100%;
    bottom:0;
    box-sizing:border-box;
}

/* dark mode */